.field {
  width: 100%;
  display: flex;
  flex-direction: column;
}

.field__label {
  font-size: 11px;
  color: var(--color-white-rock);
  margin-top: 18px;
  text-transform: uppercase;
}

.field__input {
  margin-top: 5px;
  padding: 10px;
  font-size: 16px;
  border: none;
  border-radius: var(--border-radius);
}

.field__input::-webkit-input-placeholder {
  font-size: 12px;
}
.field__input::-moz-placeholder {
  font-size: 12px;
}
.field__input:-ms-input-placeholder {
  font-size: 12px;
}
.field__input:-moz-placeholder {
  font-size: 12px;
}

.section-wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: calc(100vh - var(--navigation-bar-height));
}

.section {
  width: 340px;
  border-radius: var(--border-radius);
  padding: 24px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: var(--color-limed-spruce);
  box-sizing: border-box;
  box-shadow: var(--shadow);
  position: relative;
}

.section-form {
  box-sizing: border-box;
  width: 100%;
}

.section-headline {
  margin: 5px 0px 10px 0px;
  color: var(--color-smart-blue);
  user-select: none;
}

.btn-wrapper {
  width: 100%;
  display: flex;
  justify-content: flex-end;
}

.btn {
  border: none;
  border-radius: var(--border-radius);
  padding: 14px;
  min-width: 100px;
  margin-top: 22px;
  text-transform: uppercase;
  cursor: pointer;
  background-color: var(--color-white);
  color: var(--color-limed-spruce);
  transition: all 0.4s;
  font-weight: bold;
  margin-left: 10px;
}

.btn:hover {
  background-color: var(--color-java);
}

.addSection {
  width: 320px;
  height: calc(100% - var(--navigation-bar-height));
  background-color: var(--color-smart-blue);
  position: fixed;
  bottom: 0;
  right: 0;
  margin-top: var(--navigation-bar-height);
  padding: 0 20px 20px 20px;
  box-sizing: border-box;
  transform: translateX(320px);
  transition: all 0.2s;
  box-shadow: var(--shadow);
}

.addSectionOpen {
  transform: translateX(0);
}

@media (max-width: 412px) {
  .section {
    height: calc(100vh - var(--navigation-bar-height));
    border-radius: 0;
    width: 100vw;
    padding: 10px;
  }

  .addSection {
    width: 100%;
    transform: translateX(100%);
  }

  .addSectionOpen {
    transform: translateX(0);
  }
}
