body {
  margin: 0;
  padding: 0;
  margin-top: var(--navigation-bar-height);
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: calc(100vh - var(--navigation-bar-height));
  background-color: var(--color-porcelain);
}
