body {
  margin: 0;
  padding: 0;
  margin-top: var(--navigation-bar-height);
  min-height: calc(100vh - var(--navigation-bar-height));
  background-color: var(--color-white-rock);
  font-family: sans-serif;
}

:global(.Toastify__toast--error) {
  background-color: var(--color-flory);
  font-size: 14px;
  border-radius: var(--border-radius);
}
