.wrapper {
  width: 340px;
  border-radius: var(--border-radius);
  padding: 24px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: var(--color-limed-spruce);
  box-sizing: border-box;
  box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23);
  position: relative;
}

.form {
  box-sizing: border-box;
  width: 100%;
}

.headline {
  margin: 5px 0px 10px 0px;
  color: var(--color-smart-blue);
  user-select: none;
}

.btn-wrapper {
  width: 100%;
  display: flex;
  justify-content: flex-end;
}

.btn {
  border: none;
  border-radius: var(--border-radius);
  padding: 14px;
  min-width: 100px;
  margin-top: 22px;
  text-transform: uppercase;
  cursor: pointer;
  background-color: var(--color-white);
  color: var(--color-limed-spruce);
  transition: all 0.4s;
  font-weight: bold;
}

.btn:hover {
  background-color: var(--color-java);
}

@media (max-width: 412px) {
  .wrapper {
    height: calc(100vh - var(--navigation-bar-height));
    border-radius: 0;
    width: 100vw;
    padding: 10px;
  }
}
