.bar {
  background-color: var(--color-scooter);
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: var(--navigation-bar-height);
  display: flex;
  align-items: center;
  padding: 0 20px;
  justify-content: space-between;
  box-sizing: border-box;
  box-shadow: var(--shadow);
}

.app-name {
  text-transform: uppercase;
  font-size: 12px;
  font-weight: bold;
  color: var(--color-lochinvar);
  user-select: none;
}

.link {
  text-transform: uppercase;
  font-size: 12px;
  margin: 0px 5px;
  color: var(--color-smart-blue);
  transition: all 0.4s;
  text-decoration: none;
  font-weight: bold;
}

.link:hover {
  color: var(--color-white);
}

.link-active {
  color: var(--color-limed-spruce);
}

.exit {
  color: var(--color-lochinvar);
  cursor: pointer;
  transition: all 0.4s;
}

.exit:hover {
  color: var(--color-white);
}

@media (max-width: 412px) {
  .bar {
    padding: 0 5px;
  }

  .app-name {
    display: none;
  }
}
