.wrapper {
  display: flex;
  justify-content: center;
  align-items: flex-start;
  padding-top: 20px;
  box-sizing: border-box;
  flex-wrap: wrap;
}

.section {
  max-width: 260px;
  width: 100%;
  height: 120px;
  border-radius: var(--border-radius);
  box-shadow: var(--shadow);
  background-color: var(--color-limed-spruce);
  margin: 0 10px 20px 10px;
  padding: 20px;
  box-sizing: border-box;
  user-select: none;
  color: var(--color-white);
  font-size: 14px;
}

.addButton {
  position: fixed;
  right: 20px;
  bottom: 20px;
  height: 80px;
  width: 80px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  box-shadow: var(--shadow);
  border: none;
  cursor: pointer;
  background-color: var(--color-lochinvar);
  color: var(--color-java);
  transition: all 0.4s;
}

.addButton:hover {
  color: var(--color-white);
}

.btnCancel {
  background-color: var(--color-gumbo);
  color: var(--color-white);
}

@media (max-width: 412px) {
  .wrapper {
    flex-direction: column;
    justify-content: flex-start;
    box-sizing: border-box;
  }

  .section {
    min-width: calc(100% - 20px);
    height: 80px;
    margin: 0 5px 10px 5px;
  }

  .addButton {
    right: 10px;
    bottom: 10px;
    height: 60px;
    width: 60px;
  }
}
