:root {
  /* COLORS */
  /* Based on color pallete: http://colorpalettes.net/color-palette-3958/ */
  --color-limed-spruce: #37474f;
  --color-scooter: #2ebdbd;
  --color-white-rock: #eff1e4;
  --color-smart-blue: #537c8e;
  --color-tan: #ceae7f;
  --color-spicy-mix: #af7a5d;
  --color-white: #ffffff;
  --color-java: #1de9b6;
  --color-lochinvar: #259292;
  --color-flory: #f1656a;

  /* MEASUREMENTS */
  --border-radius: 3px;
  --navigation-bar-height: 40px;

  /* SHADOWS */
  --shadow: inset 0 0 0 rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23);
}
